{% extends "layout.html" %}
{% block start %}
<br><br>
<div class="container">

  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" action="/reset_password">

  <h2>Forgot Password</h2><hr>
   {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">New Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword2">
  </div>
  <button type="submit" class="btn btn-primary">Reset Password</button>


  </form>
</div>
{% endblock %}